<!DOCTYPE html>
<html lang="en">
  <head>
		<title>BrosUnite</title>
		<%- include ('./partials/Head') %>
		<%- include ('./partials/navbar') %>
		<link href="https://fonts.googleapis.com/css2?family=Brawler&display=swap" rel="stylesheet">
		<style>
			*{
					font-family: 'Brawler', serif;
			}

			body {
					background: #fffcdc;
					}
			footer {
					 background: #fff3fb;
					position: absolute;
					bottom: 0;
					width: 100%;
					height: 2.5rem; 
					text-align: center;
					 }

			.footer {
			background: #fff3fb;
			}
		
		</style>
  </head>
  <body>
    <div class="container">
		<%- body %>
	</div>
  </body>
  <footer>
  <div class="footer">Icons made by <a href="http://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
  <div class="footer">copyright 2020 by Michael||CP and SmithBrosUnite</div>
</footer>
</html>