<!DOCTYPE html>
<html lang="en">
  <head>
		<title>BrosUnite</title>
		<%- include ('./partials/Head') %>
		<%- include ('./partials/navbar') %>
		<link href="https://fonts.googleapis.com/css2?family=Brawler&display=swap" rel="stylesheet">
		<style>
			*{
					font-family: 'Brawler', serif;
					 background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
			}

		
		
		</style>
  </head>
  <body>
    <div class="container">
		<%- body %>
	</div>
  </body>
</html>