.about-container {
    margin-top: 50px;
    width: 100%;
    border: 20px solid #508AA8;
    padding: 20px;
}

.container {
    min-height: 780px;
}

.about{
    width: 80%;
}

.about-icons {
    margin-top: 100px;
}

.about-img {
    max-height: 400px;
    max-width: 100%;
}

.about-text {
    letter-spacing: .01px;
    line-height: 25px;
}

.social {
    list-style: none;
    display: inline;
}

h1 {
    letter-spacing: 0.1em;
    font-weight: 600;
}