#toAbout {
    width: 200px;
    margin: 20px;
}

#playGame {
    width: 200px;
    margin: 20px;
}

.jumbotron {
    margin-top: 100px;
    background-color: #508AA8;
    color: white;
}

#siteTitle {
    text-align: center;
    letter-spacing: 3px;
}

.btn:hover {
    background-color: #3e8e41
}

.btb:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#go {
    display: flex;
    justify-content: center;
    align-items: center;
}