

.square {
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    text-align: center;
    font-size: large;
}

.container {
    
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    color: black;
    text-align: center;
}

#stripe {
    background: white;
    height: 30px;
    align-content: center;
}

.correct {
    color: yellow;
}

.incorrect {
    color: brown;
}

.default {
    color: black
}