

.square {
    height: 200px;
    display: grid;
    width: 200px;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 10px;
    text-align: center;
    font-size: 25px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

.optionText {

}

h1 {
    color: black;
    text-align: center;
}

#stripe {
    background: white;
    height: 30px;
    width: 50%;
    margin: 0 auto;
}

.correct {
    color: yellow;
}

.incorrect {
    color: brown;
}

.default {
    color: black
}

#reset {
    width: 50%;
    margin: 0 auto;
    align-items: center;
}

.nextQ {
    position: fixed;
    left: 30%;
}