<head>
<link rel="stylesheet" href="../css/about.css" ></link>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<div class="about-section paddingTB60 gray-bg">
  <div class="container">
    <div class="row">
			<div class="col-md-7 col-sm-6">
				<div class="about-title clearfix">
					<h1>About <span>Think You Know Me</span></h1>
					<h3>A site about family </h3>
					<h4 class="about-text">Created after a trip to Austrailia to meet family
          for the first time, <br/>
          <strong>Think You Know Me</strong> 
          was designed to engage family members that may not know
          each other well and to test the knoweldge of close friends and family have known us for years.
          <br/> To play, create an account, select a quiz type, and test your knowledge of any registered
          user by selecting entering their registered email address
          </h4>
			<div class="about-icons">
        <h4>Have feedback? Reach Michael at any of his socials</h4>
				<ul class="social">
						<li><a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a> </li>
						<li><a href="https://twitter.com/michaelCP17"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a> </li>
						<li><a href="mailto:mijamessmith@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a> </li>
				</ul>    
			</div>
		</div>
	</div>
		<div class="col-md-5 col-sm-6">
			<div class="about-img">
				<img class="about-img" src="./../images/smithbrosLynchCanyon.JPG" alt="img should be here">
			</div>
		</div>	
	</div>
</div>
</div>