<link rel="stylesheet" type="text/css" href="../css/home.css"/>
  <script>
    var title = <%- JSON.stringify(locals.title) %>
    var message = <%- JSON.stringify(locals.message) %>
  </script>
<h1>Home</h1>

<div>
  <a href="/stats" id="stats">Stats</a>
</div>


<h2>Invite your friends</h2>

<div class="innter-form">
  <label>Enter the email of the person you want quiz against</label>
  <input id="emailToSearch" type="text" name="email"/>
  <h5>
    <%- JSON.stringify(locals.message) %>
  </h5>
  <h2>Let's Play</h2>
  <button id="readyPlay" type="button">I'm ready</button>
</div>
<script src="./scripts/home-script.js"></script>