<div class="container.mt-4">
  <div class="jumbotron">
    <h1>How Well Do You Know Me</h1>
    <p></p>
    <p>
      <a class="btn btn-primary btn-lg" onclick="location.href='/about'" type="button" id="toAbout" role="button">Learn more</a>
      <a class="btn btn-primary btn-lg" onclick="location.href='/login'" type="button" id="playGame" role="button">Login</a>
    </p>
  </div>
</div>

<script src="./scripts/landing-script.js"></script>